<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>DRC-KRP</title>
</head>

<body>
  <div id="app">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Top navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Pages</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="file in files">
            <th scope="row">{{file.orderNumber}}</th>
            <td>{{new Date(Date.parse(file.timestamp)).toLocaleString()}}</td>
            <td>{{file.pages}}</td>
            <td>
              <icon v-if="file.info == 'OK'" name="check" size="24" color="green"></icon>
              <icon v-if="file.info == 'NO_CONFIRMATION'" name="x" size="24" color="red"></icon>
              <icon v-if="file.info == 'PAGE_MISMATCH'" name="alert-triangle" size="24" color="orange"></icon>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</body>

</html>
